.wrapper {
  display: flex;
  margin: auto 2rem;
}

.nav {
  display: flex;
  font-size: 2rem;
  gap: 32px;
  align-items: center;
}

/* .nav:hover {
  color:red
} */

.milktea {
  font-size: 36px;
  margin-right: auto;
}
